@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.toDoBox {
  background: white;
  border-radius: 30px;
  border: 2px solid grey;
  border-color: rgb(219, 217, 217);
  box-shadow: 5px 5px 5px grey;
  width: 265px;
  height: 490px;
  padding: 15px;
}

.add-todo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#todo-title {
  width: max-content;
  height: 20px;
}

#todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: none;
  scroll-behavior: auto;
  max-height: 395px;
}

button {
  background-color: aquamarine;
  border-radius: 5px;
  border: none;
  width: 50px;
  height: 20px;
  margin: 5px;
}

.todo {
  margin-top: 4px;
  display: flex;
  height: 20px;
}

input[type="checkbox"] {
  margin-right: 10px;
  border-radius: 5px;
}
